<%= content_for :title, "Items Listing" %>

<div class= "center_index_page">
<span class="listing_items">Listing Items</span>
<% if current_user %>
<%= link_to 'New Item', new_article_path, class: "new_item_link" %>
<% else %>
<span class="sign_in_or_sign_up">
Sign in or Sign Up to create a new item.<%= link_to " Sign in/Sign up", new_user_session_path %>
</span>
<% end %>
<br /> <br />
<table>
  <thead>
    <tr class="spacer">
      <th></th>
      <th>Title</th>
      <th>City</th>
      <th>Body</th>
      <th>Price</th>
      <th class="created_at">Created at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr class align="spacer">
        <% if article.image1.url.to_s == '/image1s/original/missing.png' %>
          <td>No Image</td>
        <% else %>
          <td><%= image_tag article.image1.url(:thumb) %></td>
        <% end %>
        <td class="title"><%= article.title %></td>
        <td><%= article.city %></td>
        <% body = article.body.slice!(0..150) %>
        <% dotter body %>
        <!-- below sanitize allows no tags and no attributes through in the index page. -->
        <td><%= sanitize body, :tags => %w(), :attributes => %w() %></td>
        <td><%= number_to_currency article.price %></td>
        <td class="created_at"><%= time_ago_in_words(article.created_at) %> ago </td>
        <td><%= link_to 'Show', article %></td>
        <% if current_user && (article.user_id == current_user.id || current_user.admin? ) %>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<br/><br/><br/>
<%= will_paginate @articles, class: "digg_pagination"  %>


</div>