<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @article.location %>
</p>

<p>
  <strong>Body:</strong>
  <%= sanitize @article.body %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @article.price %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
